.container {
    margin-top: 25px;
}
.table {
    margin-left: -10px;
}
.btn-edit {
    margin-right: 10px;
    font-size: 20px;
}
.btn-edit:hover {
    cursor: pointer;
}

.btn-delete {
    font-size: 25px;
    /* padding-bottom: -20px; */
}
.btn-delete:hover {
    cursor: pointer;
}